@mixin fullabsolute($left,$top,$w,$h,$zindex){
  position: absolute;
  left: $left;
  top: $top;
  z-index: $zindex;
  @include size($w,$h);
}

/*Common setting for all page*/
html,body{
  width: 100%;
  height: 100%;
}
body{
  //background: #000;
}

/*****************************
* LOADING
*****************************/

.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 10;
}

.loading_con{
  width: 3.5rem;
  text-align: center;
  position: absolute;
  left: 50%;
  top:50%;
  @include transform(translate(-50%,-50%));
}

.spinner{
  margin: 18px 0 3px 0;
  display: inline-block;
}

.spinner > div {
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 100%;
  display: inline-block;
  margin-right: 6px;
  -webkit-animation: bouncedelay 2s infinite ease-in-out;
  animation: bouncedelay 2s infinite ease-in-out;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.spinner .bounce2 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.spinner .bounce3 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { background-color: #000; }
  40% { background-color: #848484;}
}

@keyframes bouncedelay {
  0%, 80%, 100% { background-color: #000;}
  40% { background-color: #848484;}
}

.loading p{
  font-size: 0.24rem;
  line-height: 1.8;
  padding: 6px 0 0 0;
}

.logo{
  padding-top: 0.6rem;
  margin: 0 auto;
  width: 3.5rem;
}


.pin{
  position: relative;
  z-index: $z-index-1;
}


.btn{
  text-align: center;
  display: block;
  margin: 0 auto;
  //padding-top: 0.15rem;
  padding: 0.1rem;
  color: #000;
  font-size: 0.24rem;
  box-sizing: border-box;
  background: #fff;
}

//for loading
.loading-wrap{
  display: none;
}

//for wrapper
.wrapper{
  //opacity: 0;
  //@include fullabsolute(0,0,100%,100%,1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container{
  transform: translateY(0);
  &.active{
    @include transition(all 10s ease-in);
    @include transform(translateY(0px));
  }
  &.godown{
    @include transition(all 1s ease);
  }
  .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200%;
    background: url("../images/bg.jpg") repeat-y;
    background-size: 100%;
    &.active{
      @include transition(all 12s ease);
    }
  }
}
/*============
================
*/

//for terms pop
.terms-pop{
  .pcontent{
    height: 7.6rem;
    overflow: auto;
    margin: 0;
  }
  .des{
    color: #000;
  }
}

//for air-plane
.air-plane{
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -0.68rem;
  z-index: $z-index-6;
  @include transition(bottom 4s);
  @include animation(upanddown 2s linear infinite);
  @keyframes upanddown {
    0%{
      @include transform(translateY(0px));
    }
    50%{
      @include transform(translateY(-10px));
    }
    100%{
      @include transform(translateY(0px));
    }
  }
  &.flyout{
    //opacity: 0;
    //z-index: -1;
    bottom: 300vh;
  }
}
.btn-golists{
  opacity: 0;
  position: fixed;
  bottom: 0.6rem;
  left: 50%;
  @include transform(translateX(-50%));
  z-index: -1;
  text-align: center;
  &.active{
    //opacity: 1;
    z-index: $z-index-6;
  }
  a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0.04rem 0.4rem;
    background: #fff;
  }
  .terms-link{
    font-size: 0.22rem;
    color: #fff;
    text-decoration: underline;
  }
}


@for $i from 1 through 11 {
  .ani-product-#{$i}{
    animation-delay: 211ms * $i;
  }
}
//for pin-product
#pin-product{
  min-height: 100vh;
  text-align: center;
  &.scrollnow{
    min-height: auto;
    height: 100vh;
    overflow-y: auto;
    overflow-x:hidden;
  }
  .logo{
    margin-bottom: 0.6rem;
  }
  .star{
    @include fullabsolute(-0.8rem,-0.8rem,2.7rem,2.7rem,1);
  }
  .animate{
    opacity: 0;
    transition-property:opacity;
    transition-duration:0.5s;
    &.active{
      opacity: 1;
    }
  }
  .ani-product {
    float: left;
    //display: inline-block;
    //@include animation(lefttoright 2s ease infinite);
    animation-name: lefttoright;
    animation-duration:2s;
    animation-timing-function: ease;
    animation-iteration-count:infinite;

    @include keyframes(lefttoright){
      0%{
        @include transform(rotate(0deg) scale(0.8));
      }
      50%{
        @include transform(rotate(10deg) scale(1));
      }
      100%{
        @include transform(rotate(0deg) scale(0.8));
      }
    }

  }
  .ani-product-5{
    clear: both;
    float: none;
  }
  .ani-just{
    position: absolute;
    bottom: 2.5rem;
    right: 1rem;
  }
  .ani-product-8{
    position: relative;
    clear: both;
    float: right;
    &.active{
      .ani-just{
        opacity: 1;
      }
    }

  }
  .ani-product-9{
    clear: both;
  }
}
.icon-bgm{
  position: fixed;
  right: 0.2rem;
  top: 0.2rem;
  z-index: $z-index-2;
  @include size(0.57rem,0.57rem);
  background: url("../images/icon-music.png") no-repeat;
  background-size: 100%;
  &.play{
    @include animation(circle 2s linear infinite);
    @include keyframes(circle){
      0%{
        @include transform(rotate(0deg));
      }
      100%{
        @include transform(rotate(360deg));
      }
    }
  }
}
//pin-landing
#pin-landing{
  min-height: 100vh;
  .people{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    @include transform(translateY(-50%));
  }
  .tip-wrap{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    @include transform(translateX(-50%));
    text-align: center;
    font-size: 0.28rem;
    color: #fff;
    line-height: 1.4;
    z-index: 2;
    .tip{
      margin-bottom: 0.2rem;
    }
    .terms-link{
      font-size: 0.24rem;
      text-decoration: underline;
      padding: 0.1rem 0.2rem;
    }
  }
  .ani{
    z-index: 1;
  }
  .ani-1{
    position: absolute;
    right: 0;
    top: 1.6rem;
  }
  .ani-2{
    position: absolute;
    left: -0.6rem;
    bottom: 2rem;
  }
  .ani-3{
    opacity: 0.6;
  }

}


//for productlist page
body.page-product{
  .wrapper{
    height: auto;
    overflow: visible;
    background: url("../images/bg.jpg") repeat-y;
    background-size: 100%;
  }
}
.product-list-bg{
  @include fullabsolute(0,0,100%,100%,1);
  position: fixed;
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
}
#product-list-wrap{
  position: absolute;
  z-index: 2;
  max-width: 100%;
  height: auto;
  overflow: hidden;

  //&:before{
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 50%;
  //  background: #000;
  //  -webkit-filter: blur(50px);
  //  -moz-filter: blur(50px);
  //  -o-filter: blur(50px);
  //  -ms-filter: blur(50px);
  //  filter: blur(50px);
  //  z-index: -1;
  //}
  .star-1{
    @include fullabsolute(-0.8rem,-0.8rem,2.7rem,2.7rem,1);
  }
  .product-list{
    width: 6.6rem;
    margin: 1rem auto 0;
    .item{
      position: relative;
      width: 3rem;
      height: 6.4rem;
      display: block;
      margin-bottom: 0.7rem;
      &:nth-child(2n){
        float: right;
      }
      &:nth-child(2n+1){
        float: left;
      }
      &.item-3{
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: -1.5rem;
          right: -1rem;
          @include size(2rem,1.77rem);
          background: url('../images/star-2.png') no-repeat;
          background-size: 100%;
        }
      }
    }
    .p-img{
      position: relative;
      @include size(2.94rem,2.94rem);
      //border: #fff 1px solid;
      //background: rgba(255,255,255,0.15);
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.2);
        z-index: 1;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
      }
      img{
        position: relative;
        z-index: 2;
      }
    }
    .p-name,
    .p-price{
      text-align: center;
      font-size: 0.24rem;
      color: #fff;
      margin: 0.22rem 0;
      text-transform: uppercase;
    }
    .p-name{
      height: 0.8rem;
    }
    .p-btn{
      width: 1.8rem;
      margin: 0 auto;
      .btn{
        padding: 0;
      }
      a{
        display: block;
        color: #000;
        text-decoration: none;
      }
      .btn-buy{
        margin-bottom: 0.2rem;
      }
    }
  }
}


//for tang-popup
#tang-popup{
  padding: 0;
  .inner{
    width: 88vw;
  }
  .swiper-button-prev{
    left: 0.3rem;
    background: transparent;
    @include size(0.4rem,0.4rem);
    border-top: #000 2px solid;
    border-left: #000 2px solid;
    @include transform(rotate(-45deg));
  }
  .swiper-button-next{
    right: 0.3rem;
    background: transparent;
    @include size(0.4rem,0.4rem);
    border-top: #000 2px solid;
    border-right: #000 2px solid;
    @include transform(rotate(45deg));
  }
  .swiper-button-next{

  }
  .pcontent{
    position: relative;
    margin: 0;
    padding: 0.9rem 0.8rem 0.7rem 0.8rem;
  }
  #product-list-swiper{
    min-height: 5rem;
    //background: #ccc;
  }
  .icon-1{
    display: none;
    position: absolute;
    top: 0.4rem;
    right: 0.2rem;
    z-index: 2;
    @include transform(rotate(80deg));
    @include size(1.5rem,1.5rem);
    background: url("../images/star-2.png") no-repeat;
    background-size: 100%;
  }
  .icon-2{
    position: absolute;
    bottom: 1.6rem;
    left: 0.4rem;
    z-index: 2;
    @include transform(rotate(50deg));
    @include size(1.5rem,1.5rem);
  }
  .btn-buy{
    @include size(2.5rem,0.56rem);
    margin-top: 0.7rem;
    background: #000;
    padding: 0;
    a{
      display: block;
      line-height: 0.56rem;
      font-size: 0.28rem;
      color: #fff;
      text-decoration: none;
    }
  }
  .btn-close{
    &:before,&:after{
      background: #000;
    }
  }
}


//for product page
#product-wrap{
  @include fullabsolute(0,0,100%,100%,1);
  .star-1{
    @include fullabsolute(-0.8rem,-0.8rem,2.7rem,2.7rem,1);
  }
  #product-swiper-wrap{
    position: relative;
    margin-top: 0.8rem;
    .swiper-button-prev{
      left: 0.3rem;
      background: transparent;
      @include size(0.4rem,0.4rem);
      border-top: #fff 2px solid;
      border-left: #fff 2px solid;
      @include transform(rotate(-45deg));
    }
    .swiper-button-next{
      right: 0.3rem;
      background: transparent;
      @include size(0.4rem,0.4rem);
      border-top: #fff 2px solid;
      border-right: #fff 2px solid;
      @include transform(rotate(45deg));
    }
  }
  #product-swiper{
    width: 80vw;
    margin: 0 auto;
  }
  .p-name,
  .p-price{
    font-size: 0.28rem;
    color: #fff;
    text-align: center;
  }
  .p-name{
    font-size: 0.3rem;
    margin-bottom: 0.2rem;
  }
  .p-btn{
    margin-top: 1.2rem;
    text-align: center;
    .btn{
      display: inline-block;
      @include size(2.5rem,0.6rem);
      margin: 0 0.2rem;
      background: #fff;
    }
    a{
      display: block;
      font-size: 0.24rem;
      color: #000;
      text-decoration: none;
      background: #fff;
      text-align: center;
    }
  }
}

//for pc
.pc-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  @include size(100%,100%);
  background: url("../images/pc-bg.jpg") repeat;
  //background-size: cover;
  padding-top: 60px;
  box-sizing: border-box;
  .pc-content{
    max-width: 540px;
    margin:0 auto;
  }
}