@mixin fullabsolute($left,$top,$w,$h,$zindex){
  position: absolute;
  left: $left;
  top: $top;
  z-index: $zindex;
  @include size($w,$h);
}

/*Common setting for all page*/
html,body{
  width: 100%;
  height: 100%;
}
body{
  background: #fff1ea;
}

/*****************************
* LOADING
*****************************/

.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 10;
}

.loading_con{
  width: 3.5rem;
  text-align: center;
  position: absolute;
  left: 50%;
  top:50%;
  @include transform(translate(-50%,-50%));
}

.spinner{
  margin: 18px 0 3px 0;
  display: inline-block;
}

.spinner > div {
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 100%;
  display: inline-block;
  margin-right: 6px;
  -webkit-animation: bouncedelay 2s infinite ease-in-out;
  animation: bouncedelay 2s infinite ease-in-out;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.spinner .bounce2 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.spinner .bounce3 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { background-color: #000; }
  40% { background-color: #848484;}
}

@keyframes bouncedelay {
  0%, 80%, 100% { background-color: #000;}
  40% { background-color: #848484;}
}

.loading p{
  font-size: 0.24rem;
  line-height: 1.8;
  padding: 6px 0 0 0;
}
/*****************************
* End LOADING
*****************************/

//for pc
.pc-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  @include size(100%,100%);
  background: url("../images/pc-bg.jpg") repeat;
  //background-size: cover;
  padding-top: 60px;
  box-sizing: border-box;
  .pc-content{
    max-width: 540px;
    margin:0 auto;
  }
}

//for home page
//.v-content{
//  width: 100%;
//}
.logo{
  margin: 0 auto 0.4rem;
  width: 3.31rem;
}
.showonpc{
  display: none;
}
.btn{
  text-align: center;
  display: block;
  margin: 0 auto;
  //padding-top: 0.15rem;
  padding: 0.12rem;
  color: #fff;
  font-size: 0.26rem;
  box-sizing: border-box;
  background: #333;
}

//override swiper plugin default style
.swiper-pannel{
  width: 7.5rem;
  height: 4.22rem;
}
.swiper-container {
  width: 7.5rem;
  height: 4.22rem;
  //overflow: auto;
  //padding-bottom: 0.5rem;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background: transparent;
  @include size(0.36rem,0.36rem);
  border-left: #555 2px solid;
  border-bottom: #555 2px solid;
  @include transform(rotate(45deg));
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background: transparent;
  @include size(0.36rem,0.36rem);
  border-left: #555 2px solid;
  border-bottom: #555 2px solid;
  @include transform(rotate(225deg));
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{

}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0;
  .swiper-pagination-bullet{
    @include size(0.15rem,0.15rem);
    border: #9a9a99 2px solid;
    border-radius: 0.15rem;
    background: none;
    opacity: 1;
    box-sizing: border-box;
  }
  .swiper-pagination-bullet-active{
    background: #333333;
    border: #333333 1px solid;
  }
}

.swiper-slide{
  video{
    width: 100%;
    //height: 100%;
  }
}

//end swiper

.panel{
  width: 6.2rem;
  margin: 0.3rem auto 0;
  &.sellout{
    .product-des{
      display: none;
    }
    .rule-tips{
      display: none;
    }
    .btn-buy{
      display: none;
    }
    .sellout-des{
      display: block;
    }
  }
}

//for sellout-des
.sellout-des{
  display: none;
  margin: 0.6rem 0;
  text-align: center;
  font-size: 0.26rem;
  color: #000;
  .des-1{
    margin-bottom: 0.3rem;
  }
}

//for product-block
.product-block{
  text-align: center;
  border-bottom: #ccc 1px solid;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 0.26rem;
  color: #333;
  line-height: 1.5;
  .subname{
    display: block;
  }
}

.product-des{
  line-height: 1.5;
  font-size: 0.22rem;
  text-align: justify;
  p{
    font-size: 0.22rem;
    color: #888;
  }
  .des{
    margin-bottom: 0.2rem;
  }
}

.rule-tips{
  position: relative;
  margin: 0.3rem 0;
  text-align: center;
  font-size: 0.22rem;
  color: #333;
  .main-tip{
    display: inline-block;
    position: relative;
  }
  .show-rule{
    text-decoration: underline;
  }
  label{
    display: inline-block;
    vertical-align: middle;
  }
  #isagree{
    padding: 0.2rem 0.4rem;
    position: absolute;
    left: -0.8rem;
    top: -0.13rem;
    z-index: 2;
    box-sizing: content-box;
    &.yes{
      background: url("../images/isagree-yes.png") no-repeat;
      background-size: 0.26rem 0.26rem;
      background-position: 0.44rem 0.15rem;
    }
    strong{
      display: block;
      @include size(0.26rem,0.26rem);
      border: #343434 1px solid;
      box-sizing: border-box;
    }
  }
}

.buttons{
  text-align: center;
  &.buttons-1{
    margin-top: 0.3rem;
  }
  .btn{
    display: inline-block;
    width: 47%;
    margin: 0 1%;
  }
  .btn-follow{
    //float: right;
  }
  .btn-buy{
    &.disabled{
      opacity: 0.5;
    }
  }
}

//for social page
.pin{
  position: absolute;
  left: 0;
  top: 0;
  @include size(100%,100%);
  z-index: -1;
  opacity: 0;
  &.current{
    opacity: 1;
    z-index: 2;
  }
}

#page-follow{
  .logo{
    margin-top: 0.6rem;
  }
  .des{
    margin: 1.2rem 0;
    text-align: center;
    font-size: 0.28rem;
    color: #333;
  }
  .qrcode{
    margin: 0 auto;
    @include size(3rem,3rem);
  }
  .desforpc{
    display: none;
  }
}

#pop-rules{
  .inner{
    width: 86vw;
  }
  .rule-content{
    padding: .35rem .5rem;
    height: 60vh;
    overflow: auto;
    box-sizing: border-box;
    p{
      font-size: 0.22rem;
      line-height: 1.6;
      margin-bottom: 0.4rem;
    }
    h3{
      color: #333;
      font-size: 0.22rem;
      font-weight: bold;
    }
    h4{
      font-size: 0.22rem;
      color: #333;
      font-weight: normal;
    }
    p{
      font-size: 0.2rem;
      color: #333;
    }

  }
}

//for pc
.page-pc{
  font-size: 50px;
  .wrapper{
    position: absolute;
    left: 0;
    top: 0;
    @include size(100%,100%);
    //max-width: 1200px;
  }
  .v-content{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    @include transform(translate(0,0));
  }
  .logo{
    width: 100%;
    padding: 50px 0;
    margin: 0;
    border-bottom: #ccc 1px solid;
    box-sizing: border-box;
    img{
      width: 300px;
      margin: 0 auto;
    }
  }
  .main-content{
    width: 880px;
    margin: 70px auto 0;
  }
  .swiper-container{
    float: left;
    height: auto;
    width: 68%;
    margin-left: -3%;
  }
  .panel{
    width: 35%;
    float: right;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    display: none;
  }
  .product-block{
    text-align: left;
    color: #333;
    font-size: 15px;
  }
  .product-name{
    line-height: 1.5;
    margin-bottom: 4px;
  }
  .product-price{
    //font-size: 15px;
  }
  .product-des{
    color: #888;
    font-size: 12px;
  }
  .rule-tips{
    display: none;
  }
  .buttons{
    .btn{
      margin-top: 20px;
      width: 100%;
    }
  }
  .showonmobile{
    display: none;
  }
  .showonpc{
    display: block;
  }
  #page-follow{
    .qrcode{
      margin: 1.2rem auto;
    }
  }

}
/*====End pc====*/

/*
* for qrcode-popup
*/
#qrcode-popup{
  .qrcode{
    @include size(3rem,3rem);
    margin: 1.2rem auto 0.7rem;
  }
  .text{
    text-align: center;
    margin-bottom: 1rem;
  }
}

/*
* For follow popup
*/
#follow-popup{
  .inner{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include transform(translate(0,0));
  }
  .btn-close{
    display: none;
  }
  .logo{
    margin: 0.6rem auto;
  }
  .text{
    text-align: center;
    margin: 1.4rem auto 0.6rem;
  }
  .qrcode{
    @include size(3rem,3rem);
    margin: 0 auto;
  }
}

/*For video-popup*/
#video-popup{
  .inner{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include transform(translate(0,0));
  }
  video{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    z-index: 100;
    @include transform(translateY(-50%));
  }
}
.showvideo{
  .btn-play{
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    display: block;
    @include size(1.38rem,1.30rem);
    @include transform(translate(-50%,-50%));
    z-index: 10;
    background: url("../images/btn-play.png") no-repeat;
    background-size: contain;
  }
  .video-overlay{
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    @include size(100%,100%);
  }
  //&:after{
  //  position: absolute;
  //  left: 50%;
  //  top: 50%;
  //  content: '';
  //  display: block;
  //  @include size(1.38rem,1.30rem);
  //  @include transform(translate(-50%,-50%));
  //  z-index: 10;
  //  background: url("../images/btn-play.png") no-repeat;
  //  background-size: contain;
  //}
}
//*::-webkit-media-controls-panel {
//  display: none!important;
//  -webkit-appearance: none;
//}

/* Old shadow dom for play button */

//*::--webkit-media-controls-play-button {
//      display: none!important;
//      -webkit-appearance: none;
//    }

/* New shadow dom for play button */

/* This one works */

//*::-webkit-media-controls-start-playback-button {
//  display: none!important;
//  -webkit-appearance: none;
//}



/*
* For alert-pop
*/
#alert-pop{
  background: rgba(0,0,0,.5);
  .inner{
    box-shadow: 0 0 10px #333;
  }
  .title{
    font-weight: bold;
    font-size: 0.32rem;
    color: #000;
  }
  .pop-content{
    padding: 0;
    text-align: center;
  }
  .des{
    font-size: 0.27rem;
    margin: 0.8rem 0;
  }
  .btn-close{
    display: none;
  }
  .btn-close-ok{
    display: block;
    position: relative;
    @include size(2.74rem,0.6rem);
    line-height: 0.6rem;
    text-indent:0;
    text-align: center;
    margin: 0 auto 0.5rem;
    background: #373737;
    color: #fff;
    font-size: 0.26rem;
    font-weight: bold;
    &:before,
    &:after{
      display: none;
    }
  }
}

/*For page-greeting*/
#page-greeting{
  color: #333;
  font-size: 0.24rem;
  text-align: center;
  line-height: 1.5;
  .v-content{
    width: 100vw;
  }
  .logo{
    margin: 0.6rem auto;
  }
  .slide-img{
    width: 5.49rem;
    margin: 0 auto 0.6rem;
  }
  .title{
    font-weight: bold;
    font-size: 0.26rem;
  }
  .subtitle{
    font-size: 0.24rem;
    font-weight: normal;
    margin: 0.3rem 0;
  }
  .btn-gobuy{
    margin: 0 auto 0.3rem;
    a{
      display: block;
      color: #333;
      text-decoration: none;
      padding: 0.1rem;
    }
  }
  .qrcode{
    @include size(2.28rem,2.27rem);
    margin: 0 auto 0.6rem;
  }
}


/*-----------End page-greeting-----------*/